.card {
  background: #222;
  border-radius: 12px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.image {
  width: 100%;
  height: 180px;
  border-radius: 8px;
  object-fit: cover;
}

.gameInformation {
  padding: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.platformScoreRow {
  display: grid;
  grid-template-columns: 1fr auto; /* izquierda flexible, derecha ajustada */
  gap: 8px;
  align-items: start; /* el score empieza arriba */
}

.score {
  background: #2ecc71;
  color: black;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 8px;
}

.platformRow {
  width: 100%;
  font-size: 0.6rem;
}
