.genreImage{
  width: 50px;
  height: 50px;
  object-fit: cover;      
  border-radius: 8px; 
}

.genreRow{
  cursor: pointer;
  display: flex;
  gap: 8px;
  margin-bottom: 5px;align-items: center; 
  border-radius: 8px;   
  transition: all 0.2s ease-in-out;
}


.genreRow:hover{
  font-weight: bold;
  background-color: #CCC;
}

.genreRow div{
  vertical-align: middle;
}